
.body{
    background-image: url("src/assets/layout/images/123.jpg");
    background-position: center;
    background-repeat: no-repeat;
    width:100%;
    height: 600px;
    z-index: 1;
    position: relative;
}
.header{
    z-index: 2;
    position: relative;
}
.banner{
    height: 300px;
    width: 100%;
}