<div id="section-footer">
    <div class="footer-main">
        <div class="nav-footer about-us">
            <div class="headingFooter">VỀ CHÚNG TÔI</div>
            <ul class="item-nav-footer">
                <li class="item-subnav-footer"><a href="#">Câu chuyện thương hiệu</a></li>
                <li class="item-subnav-footer"><a href="#">Đôi cánh yêu thương</a></li>
                <li class="item-subnav-footer"><a href="#">Tin tức</a></li>
                <li class="item-subnav-footer"><a href="#">Tuyển dụng</a></li>
                <li class="item-subnav-footer"><a href="#">Liên hệ</a></li>
            </ul>
        </div>
        <div class="nav-footer policy-sales">
            <div class="headingFooter">CHÍNH SÁCH BÁN HÀNG</div>
            <ul class="item-nav-footer">
                <li class="item-subnav-footer"><a href="#">Chính sách đổi hàng</a></li>
                <li class="item-subnav-footer"><a href="#">Chính sách bảo hành</a></li>
                <li class="item-subnav-footer"><a href="#">Chính sách hội viên</a></li>
                <li class="item-subnav-footer"><a href="#">Chính sách giao nhận</a></li>
                <li class="item-subnav-footer"><a href="#">Hướng dẫn mua hàng</a></li>
                <li class="item-subnav-footer"><a href="#">Chính sách bảo mật</a></li>
            </ul>
        </div>
        <div class="nav-footer advise">
            <div class="headingFooter">TƯ VẤN</div>
            <ul class="item-nav-footer">
                <li class="item-subnav-footer"><a href="#">Tư vấn phong cách</a></li>
                <li class="item-subnav-footer"><a href="#">Tư vấn chọn size</a></li>
                <li class="item-subnav-footer"><a href="#">Hỏi đáp</a></li>
            </ul>
        </div>
        <div class="nav-footer follow-news">
            <div class="headingFooter">THEO DÕI BẢN CỦA CHÚNG TÔI</div>
            <div class="register-news">
                <input type="text" placeholder="Nhập email" class="input-email-footer">
                <button class="btn-register">Đăng ký</button>
            </div>
            <div class="social-connect">
                <p class="title-social mb-4">Kết nối với chúng tôi</p>
                <div class="block-icon-social">
                    <i class="fa-brands fa-facebook icon-social"></i>
                    <i class="fa-brands fa-twitter icon-social"></i>
                    <i class="fa-brands fa-instagram icon-social"></i>
                    <i class="fa-brands fa-pinterest icon-social"></i>
                    <i class="fa-brands fa-youtube icon-social"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="about-company">
        <div class="text-introduce">
            <p>CÔNG TY CỔ PHẦN ĐẦU TƯ K&G VIỆT NAM</p>
            <p>Trụ sở chính: Tầng 11 khối A, tòa nhà Sông Đà, đường Phạm Hùng, Phường Mỹ Đình 1, Quận Nam Từ Liêm, Thành phố Hà Nội, Việt Nam</p>
            <p>Giấy chứng nhận Đăng ký Kinh doanh số 0105911105 do Sở Kế hoạch và Đầu tư Thành phố Hà Nội cấp lần đầu ngày 08/06/2012 và sửa đổi lần thứ 10 ngày 05/05/2022</p>
        </div>
        <div class="payment-method">
            <p>Phương thức thanh toán</p>
            <div class="body"></div>
        </div>
    </div>
    <hr class="line-footer">
    <div class="footer-bottom">
        <span>© 2022 K&G Vietnam. All Rights Reserved</span>
        <div class="logo-footer"></div>
    </div>
</div>